.wapperSearch {
  background-color: white;
  width: 250px;
  border: none;
  border-radius: 15px;
  padding: 0.5em;
}

.input {
  border: none;
  width: 80%;
  outline: none;
  cursor: text;
}

.btn {
  background-color: transparent;
  border: none;
  width: 20%;
  cursor: pointer;
}
.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  box-shadow: 0 0 10px #000;
  background: rgba(10, 9, 9, 0.5);
}
.random {
  border-radius: 10px;
  background-color: rgb(4, 211, 4);
  font-size: 25px;
  color: white;
  border: solid rgb(9, 85, 22);
  font-weight: bold;
}

.link {
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
