.wapperSearch{
background-color:white;
width: 250px;
border: none;
border-radius: 15px;
padding: 0.5em;

}

.input{
  border: none;
  width: 80%;
  outline: none;
  cursor:text;

  
}

.btn{
  background-color: transparent;
  border: none;
  width: 20%;
  cursor: pointer;
} 
.contenedor{
  width: 100%;
  display: flex;
  justify-content:flex-end;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  box-shadow: 0 0 10px #000;
  background: rgba(10, 9, 9, 0.5);
}