.warrperCard {
background-color: blue;
 width: 320px;
 height: auto;
 border-radius: 20px;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
position: relative;
}
.btn{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: none;
  color:red;
  background: transparent;
  cursor: pointer;

} 
.name{
  position:absolute;
  bottom: 140px;
  left: 0px;
  background-color: rgb(99, 173, 25);
  border-radius: 5px;
}

.img{
  border-radius: 15px;
  width: 100%;
  border-bottom-right-radius: 0;
}