.App {
   /* text-align: center; */
   width: 100vw;
   height: 100vh;
   background-image: url("https://www.xtrafondos.com/wallpapers/rick-y-morty-en-universo-de-dragon-ball-6401.jpg");
   background-size:cover;
 
  
}
